@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles globally or in your component's CSS file */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .flex {
    overflow: hidden;
  }
  
  input, textarea {
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mr-4 {
    margin-right: 1rem;
  }
  
  .w-full {
    width: 100%;
  }
  
  .w-40 {
    width: 10rem;
  }
  
  .w-30 {
    width: 7.5rem;
  }
  html, body {
    height: 100%;
  }
  /* Make sure the map container has proper height */
.MapContainer {
    height: 100%; /* Make sure it's not growing past the container */
    min-height: 400px; /* Adjust this as needed */
  }
  